# B站频道链接
VITE_BILIBLI_LINK=''
# GITHUB项目地址链接
VITE_GITHUB_LINK=''
# 野生B站API文章项目地址链接
VITE_GITHUB_BILIBILI_API_COLLECT_LINK='https://socialsisteryi.github.io/bilibili-API-collect/'
#版本号
VITE_APP_VERSION='0.1.0-extension'
#联系邮箱
VITE_ADMIN_EMAIL='fake@gmail.com'
